---
// Props: member
const { Content, data } = Astro.props;
import { Picture } from "astro:assets";

const getImage = async (src) => {
  return await import(`../assets/team/${src}`)
};


---

<div class="group">
  <div class="mt-4 text-center">
    <Picture
    src={getImage(data.avatar.src)}
    alt={data.avatar.alt}
    sizes="(max-width: 800px) 100vw, 400px"
    width={400}
    height={400}
    class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
  />
    <h2 class="text-lg text-gray-800">{data.name}</h2>
    <h3 class="text-sm text-slate-500">
      {data.title}
    </h3>
    <Content />
  </div>
</div>
